@media screen and (max-width: 992px){
.MainImageBlock, .MainVideoBlock, .slick-slider {
    height: 500px;
}

}


.CourseItemPage .courses-item-content {
    width: 100%;
    overflow: hidden;
}


@media screen and (max-width: 992px){
.page-content {
    padding: 30px 70px;
}
}

@media screen and (max-width: 1200px){
.page-content {
    padding: 40px 80px;
}
}

@media screen and (max-width: 992px){
.header-text {
    font-size: 40px;
}
}

@media screen and (max-width: 768px) {
.header-text {
    font-size: 36px;
}
}



.page-content {
    padding: 40px 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



/**/


.MainImageBlock {
    width: 100%;
    height: 600px;
    background-color: #5c2be3;
    background-size: 100%;

}


.header-text {
    color: #5c2be3;
    font-size: 44px;
    margin-bottom: 40px;
    text-align: center;
}

.header-text .divider {
    max-width: 600px;
}

/* 

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
} */

/*--------*/

#root > div > div > section > div.MainImageBlock.image-centering {
    transform: scale(1.03);
}

.Courses {
    overflow: hidden;
}



